<div class="card">
    <div class="card-header">Cuenta</div>
    <div class="card-body">
        <ul class="list-unstyled">
            <li><a href="~/user">Configuración</a></li>
            <li><a href="~/user/info">Información</a></li>
            <li><a href="~/user/address">Direcciones</a></li>
            <li><a href="~/user/orders">Historial de Ordenes</a></li>
        </ul>
    </div>
</div>
