@model SimplCommerce.Module.Core.Areas.Core.ViewModels.HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}
<partial name="_WidgetInstances" model="Model.WidgetInstances.Where(x => x.WidgetZoneId == WidgetZoneIds.HomeFeatured)" />

<div>
    <h2 class="page-header">Toures Balón Tema</h2>
    <p>Este es un nuevo tema</p>
</div>

<!--partial name="_WidgetInstances" model="Model.WidgetInstances.Where(x => x.WidgetZoneId == WidgetZoneIds.HomeMainContent)" /-->

<!--partial name="_WidgetInstances" model="Model.WidgetInstances.Where(x => x.WidgetZoneId == WidgetZoneIds.HomeAfterMainContent)" /-->
